<mat-sidenav-container fxFlex autosize>

  <mat-sidenav mode="side" [opened]="opened">
    <ng-container *ngTemplateOutlet="sidenavContent"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="content-background-color">
    <div fxLayoutAlign=" center" (click)="toggleSidenav()">
      <mat-card class="pull-tab" fxLayoutAlign="center center">
        <mat-icon> {{opened ? 'navigate_before' : 'navigate_next'}}</mat-icon>
      </mat-card>
    </div>
  <div fxFlex fxLayout="row">
    <router-outlet></router-outlet>
  </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<ng-template #sidenavContent>
  <div fxFlex fxLayout="column">
    <mat-selection-list [disableRipple]="false" [multiple]="false">
      <mat-list-option
        routerLink="/vault/home"
        [selected]="(urlState.currentUrl | async).includes('home') || (urlState.currentUrl | async).includes('folder')"
      >
        <ng-template
          [ngTemplateOutlet]="matListOptionContent"
          [ngTemplateOutletContext]="{icon: 'lock', text: 'Vault', route: '/vault/home'}"
        ></ng-template>
      </mat-list-option>
      <mat-list-option ><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'schedule', text: 'Recent'}"></ng-template></mat-list-option>
      <mat-list-option
        routerLink="/vault/starred"
        [selected]="(urlState.currentUrl | async).includes('starred')"
      >
        <ng-template
          [ngTemplateOutlet]="matListOptionContent"
          [ngTemplateOutletContext]="{icon: 'star', text: 'Starred', route: '/vault/starred'}"
        ></ng-template>
      </mat-list-option>
      <mat-list-option><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'groups', text: 'Shared'}"></ng-template></mat-list-option>
    </mat-selection-list>
    <vaultea-folder-tree></vaultea-folder-tree>

<ng-template #matListOptionContent let-icon="icon" let-text="text" let-route="route">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-icon>{{icon}}</mat-icon>
    <span>{{text}}</span>
  </div>
</ng-template>
