<div fxFlex fxLayout="row">
  <mat-grid-list fxFlex cols="4">
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
    <mat-grid-tile class="card-size"><vaultea-card></vaultea-card></mat-grid-tile>
  </mat-grid-list>
</div>
