<div class="m-3 content-background-color" fxFlex fxLayout="column">
  <div fxLayoutAlign="space-between">
    <h1>Vault</h1>
    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="24px">

      <mat-chip-list>
        <mat-chip>Sort By</mat-chip>
      </mat-chip-list>

      <mat-icon>view_list</mat-icon>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="m-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <div class="container">
      <vaultea-card
        *ngFor="let folder of folders"
        [cardData]="{
          title:folder.name,
          description: folder.description
        }"
      ></vaultea-card>
    </div>
    <div class="button-wrapper" fxLayoutAlign="end">
      <vaultea-button [buttonData]="BUTTONS_CONSTANT.FLOATING_ADD_BUTTON" (click)="addItem()"></vaultea-button>
    </div>
  </div>
</div>

<vaultea-content-drawer></vaultea-content-drawer>
