<div class="m-3" fxFlex fxLayout="column">
  <div fxFlex class="p-3" fxLayout="row" fxLayoutAlign="space-between">
    <span>breadcrumb</span>
    <span>view options (list/grid)</span>
  </div>
  <div fxLayoutAlign="space-between">
    <h1>Folders</h1>
    <span>Sort</span>
  </div>
  <mat-divider></mat-divider>
  <div class="m-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="24px">
      <vaultea-card *ngFor="let folder of folders" ></vaultea-card>
    </div>
  </div>
</div>
