@import "../../../../styles.scss";

.header-text-margin {
  .mat-card-header-text {
    margin: 0px!important;
  }
}

.icon-style {
  font-size: 100px;
  width: 100px!important;
  height: 100px!important;
}

.card-width {
  min-width: 50%;
}

.content-hover {
  :hover {
    cursor: pointer;
    color: $secondary-dark-green!important;
  }
}

vaultea-card {
  mat-card {
    border-radius: 20px!important;
  }

  .mat-card-header-text {
    display: none;
  }
}

.star {
  color: $primary-yellow;
}
