<mat-form-field fxFlex appearance="standard">
  <mat-label>{{autocompleteData.label}}</mat-label>
  <input
    type="text"
    aria-label="Number"
    matInput
    [placeholder]="autocompleteData.label ? defaultPlaceholder : autocompleteData?.placeholder"
    [formControl]="autocompleteData.formControl"
    [matAutocomplete]="auto"
    [readonly]="autocompleteData?.readonly ?? false"
  >
  <mat-autocomplete #auto="matAutocomplete" [displayWith]="getDisplayValue" [class]="autocompleteData.autocompleteClass">
    <mat-option *ngFor="let option of filteredOptions | async | slice:0:maxValuesToDisplay" [value]="option.value">
      <div fxLayout="row" fxLayoutAlign=" center">
        <ng-container *ngIf="option.icon">
          <mat-icon
            aria-hidden="false"
            aria-label="option icon"
          >
          {{ option.icon }}
        </mat-icon>
        </ng-container>
        <div fxLayout="column">
          <span>{{option.displayValue}}</span>
          <small *ngIf="option.subtitle"><strong>{{option.subtitle}}</strong></small>
        </div>
      </div>
    </mat-option>
  </mat-autocomplete>
</mat-form-field>
