<div class="m-3 content-background-color" fxFlex fxLayout="column">
  <div fxLayoutAlign="space-between">
    <vaultea-breadcrumb [folder]="currentFolder" ></vaultea-breadcrumb>
    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="24px">

      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-label> Sort By</mat-label>
        <mat-chip-list>
          <mat-chip [matMenuTriggerFor]="menu">{{ userDataService.sortByBehaviorSubject.asObservable() | async | titlecase }}</mat-chip>
        </mat-chip-list>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item *ngFor="let field of sortableFields"
          (click)="setSortBy(field)"
        >
          {{ field }}
        </button>
      </mat-menu>

      <vaultea-button
        *ngIf="(userPreferenceStateService.userPreferencesObservable | async).vaultView === vaultView.Grid"
        [buttonData]="{
          buttonTypeClass: 'mat-icon-button',
          icon: 'list_view',
          ariaLabel: 'view_list',
          tooltip: 'Change to List View'
        }"
        (click)="toggleVaultView()"
      ></vaultea-button>
      <vaultea-button
        *ngIf="(userPreferenceStateService.userPreferencesObservable | async).vaultView === vaultView.List"
        [buttonData]="{
          buttonTypeClass: 'mat-icon-button',
          icon: 'grid_view',
          ariaLabel: 'grid_list',
          tooltip: 'Change to Grid View'
        }"
        (click)="toggleVaultView()"
      ></vaultea-button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div *ngIf="(userPreferenceStateService.userPreferencesObservable | async).vaultView === vaultView.Grid; else vaultList" class="m-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <div class="container">
      <vaultea-card
        *ngFor="let item of vaultItemsObservable | async"
        [cardData]="{
          object: item.object,
          type: item.itemType
        }"
        (deleteOptionClicked)="handleDelete($event)"
        (contentClicked)="handleContentClicked($event)"
        (editClicked)="openModalInEditMode($event)"
        (starClicked)="handleStarClicked($event)"
      ></vaultea-card>
    </div>
  </div>
  <div class="button-wrapper" fxLayoutAlign="end">
    <vaultea-button 
      [matMenuTriggerFor]="addMenu"
      [buttonData]="BUTTONS_CONSTANT.FLOATING_ADD_BUTTON">
    </vaultea-button>
    <mat-menu #addMenu="matMenu">
      <button
        mat-menu-item *ngFor="let item of addMenuItems"
        (click)="addItem(item)"
      >
        {{ item }}
      </button>
    </mat-menu>
  </div>
</div>

<ng-template #vaultList>
  <mat-list role="list">
    <mat-list-item class="option" role="listitem" *ngFor="let item of vaultItemsObservable | async">
      <div fxFlex fxLayout="row" fxLayoutAlign="center center" fxLayoutGap="8px">
        <mat-icon
          class="star"
          (click)="handleStarClicked(item)"
        >
          {{ item.object.starred ? "star" : "star_outline"}}
        </mat-icon>
        <div class="clickable-portion" fxFlex fxLayout="row" fxLayoutGap="8px" (click)="handleContentClicked(item)">
          <mat-icon aria-hidden="false" aria-label="Folder Icon">{{ item.icon }}</mat-icon>
          <span fxFlex>{{item.object.name}}</span>
        </div>
        <div fxLayoutGap="8px" fxLayoutAlign="end">
          <vaultea-button
            [buttonData]="{
              buttonTypeClass: 'mat-icon-button',
              type: 'button',
              ariaLabel: 'Edit',
              icon: 'edit',
              tooltip: 'Edit'
            }"
            (click)="openModalInEditMode(item)"
          ></vaultea-button>
          <vaultea-button
            [buttonData]="{
              buttonTypeClass: 'mat-icon-button',
              type: 'button',
              ariaLabel: 'Edit',
              icon: 'delete',
              tooltip: 'Delete'
            }"
            (click)="handleDelete(item)"
          ></vaultea-button>
        </div>
      </div>
    </mat-list-item>
  </mat-list>
</ng-template>
