<div class="m-3 content-background-color" fxFlex fxLayout="column">
  <div fxLayoutAlign="space-between">
    <vaultea-breadcrumb [folder]="currentFolder" ></vaultea-breadcrumb>
    <div fxFlex fxLayoutAlign="end center" fxLayoutGap="24px">

      <div fxLayout="column" fxLayoutAlign="center center">
        <mat-label> Sort By</mat-label>
        <mat-chip-list>
          <mat-chip [matMenuTriggerFor]="menu">{{ userDataService.sortByBehaviorSubject.asObservable() | async | titlecase }}</mat-chip>
        </mat-chip-list>
      </div>

      <mat-menu #menu="matMenu">
        <button
          mat-menu-item *ngFor="let field of sortableFields"
          (click)="setSortBy(field)"
        >
          {{ field }}
        </button>
      </mat-menu>

      <vaultea-button
        [buttonData]="{
          buttonTypeClass: 'mat-icon-button',
          icon: 'view_list',
          ariaLabel: 'view_list',
          tooltip: 'Change to List View'
        }"
        (click)="toggleVaultView()"
      ></vaultea-button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div class="m-3" fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="24px">
    <div class="container">
      <vaultea-card
        *ngFor="let item of vaultItemsObservable | async"
        [cardData]="{
          object: item.object,
          type: item.itemType
        }"
        (deleteOptionClicked)="handleDelete($event)"
        (contentClicked)="handleContentClicked($event)"
        (editClicked)="openModalInEditMode($event)"
        (starClicked)="handleStarClicked($event)"
      ></vaultea-card>
    </div>
    <div class="button-wrapper" fxLayoutAlign="end">
      <vaultea-button [matMenuTriggerFor]="addMenu" [buttonData]="BUTTONS_CONSTANT.FLOATING_ADD_BUTTON"></vaultea-button>
      <mat-menu #addMenu="matMenu">
        <button
          mat-menu-item *ngFor="let item of addMenuItems"
          (click)="addItem(item)"
        >
          {{ item }}
        </button>
      </mat-menu>
    </div>
  </div>
</div>
