<mat-sidenav-container fxFlex autosize>

  <mat-sidenav mode="side" [opened]="opened">
    <ng-container *ngTemplateOutlet="sidenavContent"></ng-container>
  </mat-sidenav>

  <mat-sidenav-content class="content-background-color">
    <div fxLayoutAlign=" center" (click)="toggleSidenav()">
      <mat-card class="pull-tab" fxLayoutAlign="center center">
        <mat-icon> {{opened ? 'navigate_before' : 'navigate_next'}}</mat-icon>
      </mat-card>
    </div>
  <div fxFlex fxLayout="row">
    <router-outlet name="sidenavContent"></router-outlet>
  </div>
  </mat-sidenav-content>

</mat-sidenav-container>

<ng-template #sidenavContent>
  <div fxFlex fxLayout="column">
    <div fxFlex class="mr-3">
      <ng-container *ngTemplateOutlet="vaultTree"></ng-container>
    </div>
  </div>
</ng-template>

<ng-template #vaultTree>

  <mat-selection-list [disableRipple]="false" [multiple]="false">
    <mat-list-option><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'lock', text: 'Vault'}"></ng-template></mat-list-option>
    <mat-list-option><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'schedule', text: 'Recent'}"></ng-template></mat-list-option>
    <mat-list-option><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'star', text: 'Starred'}"></ng-template></mat-list-option>
    <mat-list-option><ng-template [ngTemplateOutlet]="matListOptionContent" [ngTemplateOutletContext]="{icon: 'groups', text: 'Shared'}"></ng-template></mat-list-option>
  </mat-selection-list>

  <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="example-tree">
    <!-- This is the tree node template for leaf nodes -->
    <!-- There is inline padding applied to this node using styles.
    This padding value depends on the mat-icon-button width. -->
    <mat-tree-node *matTreeNodeDef="let node" matTreeNodeToggle>
        {{node.name}}
    </mat-tree-node>
    <!-- This is the tree node template for expandable nodes -->
    <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
        <div class="mat-tree-node">
          <button mat-icon-button matTreeNodeToggle
                  [attr.aria-label]="'Toggle ' + node.name">
            <mat-icon class="mat-icon-rtl-mirror">
              {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
            </mat-icon>
          </button>
          {{node.name}}
        </div>
        <!-- There is inline padding applied to this div using styles.
            This padding value depends on the mat-icon-button width.  -->
        <div [class.example-tree-invisible]="!treeControl.isExpanded(node)"
            role="group">
          <ng-container matTreeNodeOutlet></ng-container>
      </div>
    </mat-nested-tree-node>
  </mat-tree>
</ng-template>

<ng-template #matListOptionContent let-icon="icon" let-text="text">
  <div fxLayout="row" fxLayoutGap="16px">
    <mat-icon>{{icon}}</mat-icon>
    <span>{{text}}</span>
  </div>
</ng-template>
