<div class="card-position mt-16" fxFlex="50%">
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
        <img class="logo-full" src="../../../assets/logo-full.svg">
        <span>Your own piece of mind</span>
        <vaultea-form
            [form]="form"
            [formTemplate]="formTemplate"
            [primaryButton]="BUTTONS_CONSTANT.LOGIN_BUTTON"
            [secondaryButton]="BUTTONS_CONSTANT.SIGNUP_BUTTON"
            (secondaryButtonClicked)="navigateToSignup()"
        ></vaultea-form>
    </div>
</div>

<ng-template #formTemplate>
    <div fxFlex fxLayout="column" fxLayoutGap="8px">
        <vaultea-input
            [formControl]="form.get('email')"
            label="Email"
        ></vaultea-input>
        <vaultea-input
            [sensitiveDataInput]="true"
            [formControl]="form.get('password')"
            label="Password"
        ></vaultea-input>
    </div>
</ng-template>
