<mat-card class='card-position' fxFlex='50%'>
    <div fxFlex fxLayout='column' fxLayoutAlign='center center' fxLayoutGap='16px'>
        <h1>Welcome to vaulTea</h1>
        <span>Your own piece of mind</span>
        <div fxFlex fxLayout="column" fxLayoutGap="8px">
            <vaultea-input
                [formControl]='form.get("email")'
                label='Email'
            ></vaultea-input>
            <vaultea-input
                [formControl]='form.get("password")'
                label='Password'
            ></vaultea-input>
            <vaultea-form-footer>
            </vaultea-form-footer>
            <div fxLayout='row' fxLayoutGap='8px'>
                <vaultea-button
                    text='Login'
                    color='primary'
                    buttonTypeClass='mat-raised-button'
                ></vaultea-button>
                <vaultea-button
                    text='Sign Up'
                    color='secondary'
                    buttonTypeClass='mat-raised-button'
                ></vaultea-button>
            </div>
        </div>
    </div>
</mat-card>
