<mat-card>
    <div fxFlex fxLayout='column' fxLayoutAlign='center center'>
        <h1>Welcome to vaulTea</h1>
        <span>Your own piece of mind</span>
        <div fxFlex fxLayout="column" fxFlexLayoutGap="16px">
            <vaultea-input
                [formControl]='form.get("username")'
                label='Username'

            ></vaultea-input>
            <vaultea-input
                [formControl]='form.get("password")'
                label='Password'
            ></vaultea-input>
        </div>
    </div>
</mat-card>
