.header-text-margin {
  .mat-card-header-text {
    margin: 0px!important;
  }
}

.icon-style {
  font-size: 100px; 
  width: 100px!important; 
  height: 100px!important; 
  color: blue;
}

.card-width {
  min-width: 50%;
}

vaultea-card {
  mat-card {
    border-radius: 20px!important;
  }

  .mat-card-header-text {
    display: none;
  }
}
