<mat-card fxFlex class="card-width">
  <mat-card-header class="header-text-margin">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-card-title>Website Passwords</mat-card-title>
        <mat-card-subtitle>2 Items</mat-card-subtitle>
      </div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon aria-hidden="false" aria-label="More Options">more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon class="icon-style" aria-hidden="false" aria-label="Folder Icon">folder</mat-icon>
      <p>
        Passwords for various websites
      </p>
    </div>
  </mat-card-content>
  <mat-card-actions>
    <div fxFlex fxLayoutAlign="space-between">
      <span>{{cardData.title}}</span>
      <span>{{cardData.description}}</span>
    </div>
  </mat-card-actions>
</mat-card>
