<mat-card class="example-card card-width">
  <mat-card-header class="header-text-margin">
    <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
      <div>
        <mat-card-title>Website Passwords</mat-card-title>
        <mat-card-subtitle>2 Items</mat-card-subtitle>
      </div>
      <button mat-icon-button aria-label="Example icon button with a vertical three dot icon">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </mat-card-header>
  <mat-card-content>
    <div fxFlex fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="16px">
      <mat-icon aria-hidden="false" aria-label="Example home icon" style="font-size: 100px; width: 100px; height: 100px; color: blue;">folder</mat-icon>
      <p>
        Passwords for various websites
      </p>
    </div>
  </mat-card-content>
</mat-card>
