<vaultea-form
  [form]="form"
  [formTemplate]="formTemplate"
  [primaryButton]="BUTTONS_CONSTANT.SUBMIT_BUTTON"
  (primaryButtonClicked)="submit()"
></vaultea-form>

<ng-template #formTemplate>
  <div fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="8px">
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'Name',
          placeholder: 'Item Name',
          formControl: toFormControlform.get('name'),
          required: true
        }"
      ></vaultea-input>
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'URL',
          placeholder: 'URL',
          formControl: toFormControl(form.get('url'))
        }"
      ></vaultea-input>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="8px">
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'Username',
          placeholder: 'Username, Email, ID, ect.',
          formControl: toFormControl(form.get('username')),
          required: true
        }"
      ></vaultea-input>
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'Password',
          placeholder: 'Enter a password, or generate one',
          formControl: toFormControl(form.get('password')),
          required: true,
          sensitiveDataInput: true
        }"
      ></vaultea-input>
    </div>
    <vaultea-autocomplete
      [autocompleteData]="locationAutocompleteData"
  ></vaultea-autocomplete>
  </div>
</ng-template>
