<form focusInvalidInput [formGroup]="form" (ngSubmit)="emitPrimaryButtonClicked()">
  <div fxFlex fxLayout="column" fxLayoutGap="8px">
    <vaultea-form-header
      *ngIf="formHeaderData"
      [formHeaderData]="formHeaderData"
      (editButtonClicked)="emitEditButtonClicked()"
    ></vaultea-form-header>
    <ng-container [ngTemplateOutlet]="formTemplate"></ng-container>
    <vaultea-form-footer
      [primaryButton]="primaryButton"
      [secondaryButton]="secondaryButton"
      (secondaryButtonClicked)="emitSecondaryButtonClicked()"
    ></vaultea-form-footer>
  </div>
</form>
