<div fxLayout="column" class="max-height">
  <div>
    <mat-toolbar fxFlex class="toolbar">
      <div fxFlex fxLayout="row" fxLayoutAlign="space-between">
        <div *ngIf="!!(userService.userObservable | async)" fxFlex fxLayoutGap="24px" fxLayoutAlign=" center">
          <img class="logo-minimal" src="../assets/logo-minimal.svg">

        </div>
        <div *ngIf="!!(userService.userObservable | async)" fxFlex fxLayoutGap="36px" fxLayoutAlign="end center">
          <mat-icon color="accent" class="toolbar-item">search</mat-icon>
          <mat-icon color="accent" class="toolbar-item">build</mat-icon>
          <mat-icon color="accent" class="toolbar-item">settings</mat-icon>
          <mat-icon color="accent" class="toolbar-item">notifications</mat-icon>
        </div>
      </div>
    </mat-toolbar>
  </div>
  <div fxFlex [@routeAnimations]="prepareRoute(outlet)" class="global-foreground max-height">
    <router-outlet #outlet="outlet"></router-outlet>
  </div>
</div>
