<form [formGroup]="form" (ngSubmit)="submit()">
  <div fxFlex fxLayout="column">
    <vaultea-input
      [inputData]="{
        formControl: toFormControl(form.get('generatedPassword')),
        label: 'Password Preview',
        placeholder: 'Password length',
        readonly: true
      }"
    ></vaultea-input>
    <vaultea-input
    [inputData]="{
      formControl: toFormControl(form.get('passwordEntropy')),
      label: 'Password Entropy',
      placeholder: 'Password Entropy',
      readonly: true
    }"
    ></vaultea-input>
    <vaultea-input
      [inputData]="{
        formControl: toFormControl(form.get('length')),
        label: 'Length',
        placeholder: 'Password length',
        type: 'number'
      }"
    ></vaultea-input>
    <vaultea-checkbox label="Use lowercase alphabet" [checkboxControl]="toFormControl(form.get('useLowerAlpha'))"></vaultea-checkbox>
    <vaultea-checkbox label="Use uppercase alphabet" [checkboxControl]="toFormControl(form.get('useUpperAlpha'))"></vaultea-checkbox>
    <vaultea-checkbox label="Use numbers" [checkboxControl]="toFormControl(form.get('useNumeric'))"></vaultea-checkbox>
    <vaultea-checkbox label="Use simple special characters" [checkboxControl]="toFormControl(form.get('useSimpleSpecial'))"></vaultea-checkbox>
    <vaultea-checkbox label="Use complex special characters" [checkboxControl]="toFormControl(form.get('useComplexSpecial'))"></vaultea-checkbox>
    <vaultea-form-footer
      fxLayout="row"
      [primaryButton]="{
        buttonTypeClass: 'mat-icon-button',
        color: 'primary',
        type: 'submit',
        icon: 'check',
        ariaLabel: 'Accept'
      }"
      [secondaryButton]="{
        buttonTypeClass: 'mat-icon-button',
        color: 'secondary',
        type: 'button',
        icon: 'close',
        ariaLabel: 'Accept'
      }"
      [extraButtonsTemplate]="extraButton"
      (secondaryButtonClicked)="cancel()"
    ></vaultea-form-footer>
  </div>
</form>

<ng-template #extraButton>
  <vaultea-button
    [buttonData]="{
      buttonTypeClass: 'mat-icon-button',
      color: 'secondary',
      type:'button',
      ariaLabel: 'Generate',
      icon: 'restart_alt',
      tooltip: 'Generate another password'
    }"
    (click)="generateAnotherPassword()"
  ></vaultea-button>
</ng-template>