@import "../../styles/drawer.scss";

mat-sidenav-content {
  border-radius: $radius-amount;
}

vaultea-content-drawer {
  mat-sidenav-container {
    border-top-left-radius: $radius-amount;
    border-bottom-left-radius: $radius-amount;
    display: none;
  }
  .mat-drawer-inner-container {
      border-top-left-radius: $radius-amount;
      border-bottom-left-radius: $radius-amount;
      width: $width;
      max-width: $max-width;
    }    
}

.content-margin {
  padding-left: 5vw;
}

