<vaultea-form
  [form]="form"
  [formTemplate]="formTemplate"
  [primaryButton]="BUTTONS_CONSTANT.SUBMIT_BUTTON"
  [formHeader]="{
    headerText: headerText,
    hLevel: 'h2'
  }"
  (primaryButtonClicked)="submit()"
></vaultea-form>

<ng-template #formTemplate>
  <div fxFlex fxLayout="column" fxLayoutGap="8px">
    <vaultea-input
      [inputData]="{
        label: 'Name',
        placeholder: 'Name',
        formControl: form.get('name'),
        required: true
      }"
    ></vaultea-input>
    <vaultea-input
      [inputData]="{
        label: 'Description',
        placeholder: 'Description',
        formControl: form.get('description')
      }"
    ></vaultea-input>
    <vaultea-autocomplete
      [autocompleteData]="{
        label: 'Location',
        formControl: form.get('parentFolderId'),
        options: autocompleteOptions,
        required: false,
        displaySubtitle: true
      }"
    ></vaultea-autocomplete>
  </div>
</ng-template>
