<vaultea-form
  [form]="form"
  [formTemplate]="formTemplate"
  [primaryButton]="BUTTONS_CONSTANT.SUBMIT_BUTTON"
  [formHeader]="{
    headerText: headerText,
    hLevel: 'h2'
  }"
  (primaryButtonClicked)="submit()"
></vaultea-form>

<ng-template #formTemplate>
  <div fxFlex fxLayout="column" fxLayoutGap="8px">
    <vaultea-input
      label="Name"
      [formControl]="form.get('name')"
      [required]="true"
    ></vaultea-input>
    <vaultea-input
      label="Description"
      [formControl]="form.get('description')"
    ></vaultea-input>
    <vaultea-autocomplete
      [autocompleteData]="{
        label: 'Location',
        formControl: form.get('parentFolderId'),
        options: []
      }"
    ></vaultea-autocomplete>
  </div>
</ng-template>
