<mat-form-field [fxFlex]="flexAmount" appearance="standard">
    <mat-label>{{label}}</mat-label>
    <mat-error *ngIf="formControl.hasError('required')">
        Please enter a {{label}}
    </mat-error>
        <mat-error *ngIf="formControl.hasError('email')">
        Please enter a properly formatted email
    </mat-error>
    <input
        matInput
        [type]="sensitiveDataInput && hideSensitiveData ? 'password' : 'text'"
        [placeholder]=placeholder
        [formControl]=formControl
        [value]=formControl?.value
        [maxlength]="maxLength"
        [required]="required"
    >
    <button mat-icon-button matSuffix *ngIf="sensitiveDataInput" type="button" (click)="toggleHideSensitiveData()" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hideSensitiveData">
        <mat-icon>{{hideSensitiveData ? "visibility_off" : "visibility"}}</mat-icon>
    </button>
</mat-form-field>
