<footer fxFlex>
  <div *ngIf="!readonly" [fxLayout]="fxLayout" fxLayoutGap="8px" fxLayoutAlign="end">
    <vaultea-button
      [buttonData]="primaryButton"
      (click)="emitPrimaryButtonClicked()"
    ></vaultea-button>
    <vaultea-button
      *ngIf="secondaryButton"
      [buttonData]="secondaryButton"
      (click)="emitSecondaryButtonClicked()"
    ></vaultea-button>
    <ng-container
      *ngIf="extraButtonsTemplate"
      [ngTemplateOutlet]="extraButtonsTemplate"
    ></ng-container>
  </div>
</footer>
