<vaultea-form
  [form]="form"
  [formTemplate]="formTemplate"
  [primaryButton]="BUTTONS_CONSTANT.SUBMIT_BUTTON"
  [formHeaderData]="{
    headerText: headerText,
    hLevel: 'h2',
    readonly: formState === formStateEnum.VIEW
  }"
  (editButtonClicked)="switchToEditMode()"
  (primaryButtonClicked)="submit()"
></vaultea-form>

<ng-template #formTemplate>
  <div fxLayout="column" fxLayoutGap="8px">
    <div fxLayout="row" fxLayoutGap="8px">
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'Name',
          placeholder: 'Item Name',
          formControl: toFormControl(form.get('name')),
          required: true,
          readonly: readonly
        }"
      ></vaultea-input>
    <vaultea-input
        fxFlex
        [inputData]="{
          label: 'URL',
          placeholder: 'URL',
          formControl: toFormControl(form.get('url')),
          readonly: readonly
        }"
      ></vaultea-input>
    </div>
    <div fxFlex fxLayout="row" fxLayoutGap="8px">
      <vaultea-input
        fxFlex
        [inputData]="{
          label: 'Username',
          placeholder: 'Username, Email, ID, ect.',
          formControl: toFormControl(form.get('username')),
          required: true,
          readonly: readonly
        }"
      ></vaultea-input>
      <div fxFlex fxLayout="column">
        <vaultea-input
          fxFlex
          [inputData]="{
            label: 'Password',
            placeholder: 'Enter a password, or generate one',
            formControl: toFormControl(form.get('password')),
            required: true,
            sensitiveDataInput: true,
            readonly: readonly,
            extraButtonTemplate: generateButton
          }"
        ></vaultea-input>
        <vaultea-generate-password
          *ngIf="showGeneratePassword"
        ></vaultea-generate-password>
      </div>
    </div>
    <vaultea-autocomplete
      [autocompleteData]="locationAutocompleteData"
    ></vaultea-autocomplete>
    <vaultea-text-area
      [textAreaData]="{
        label: 'Description',
        formControl: toFormControl(form.get('description')),
        maxLength: 1000,
        readonly: readonly
      }"
    ></vaultea-text-area>
  </div>
</ng-template>

<ng-template #generateButton>
  <vaultea-button
    [buttonData]="{
      buttonTypeClass: 'mat-icon-button',
      color: 'secondary',
      type:'button',
      ariaLabel: 'Generate',
      icon: 'sync',
      disabled: readonly,
      disabledTooltip: 'Must be in edit mode to generate a password'
    }"
    (click)="toggleGeneratePassword()"
  ></vaultea-button>
</ng-template>