<div fxFlex fxLayout="column">
  <vaultea-form-header
    [formHeaderData]="{
      headerText: 'Create an Item',
      hLevel: 'h2'
    }"
  ></vaultea-form-header>

  <vaultea-select
    [selectData]="{
      options: options,
      label: 'Item Type',
      formControl: toFormControl(form.get('itemType'))
    }"
  ></vaultea-select>

  <ng-container fxFlex [ngSwitch]="form.get('itemType').value">
    <vaultea-folder-form fxFlex *ngSwitchCase="'folder'"></vaultea-folder-form>
    <vaultea-password-form fxFlex *ngSwitchCase="'password'"></vaultea-password-form>
  </ng-container>
</div>
