<div fxLayout="row" fxLayoutAlign=" center">
  <h1>Vault</h1>
  <ng-container *ngIf="folder">
    <span>
      <h1>
        >
      </h1>
    </span>
    <ng-container *ngFor="let folderNode of folder.pathNodes">
      <ng-container
        [ngTemplateOutlet]="nodeTemplate"
        [ngTemplateOutletContext]="{
          'folderNode': folderNode,
          'last': false
        }"
      ></ng-container>
    </ng-container>
    <div>
      <ng-container
        [ngTemplateOutlet]="nodeTemplateCurrent"
        [ngTemplateOutletContext]="{
          'folderNode': folder,
          'last': true
        }"
      ></ng-container>
    </div>
  </ng-container>
</div>


<ng-template #nodeTemplate let-folderNode="folderNode">
  <a [routerLink]="getFolderUrl(folderNode)">
    <h1>
      {{ folderNode.name }}
    </h1>
  </a>
  <span>
    <h1>
      >
    </h1>
  </span>
</ng-template>

<ng-template #nodeTemplateCurrent let-folderNode="folderNode">
  <span>
    <h1>
      <strong>
        {{ folderNode.name }}
      </strong>
    </h1>
  </span>
</ng-template>
